## Visual Studio
.vs/
*.user
*.suo
*.sln.docstates
*.cache
*.cachefile

## Build outputs
bin/
obj/
scripts/
publish/
release/
*.exe
*.dll
*.pdb

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.ide

## Others
*.log
*.tmp
Thumbs.db
*.md
*.ps1
*.bak
*.swp
publish.md
make_release*.ps1
version_patch.txt



